/* Bauhaus Color Palette */
$brand-color:       #E63946; /* Red */
$secondary-color:   #1D3557; /* Blue */
$background-color:  #f4f4f4;

/* Bauhaus Fonts */
$font-family-sans-serif: 'Jost', 'Futura', sans-serif;
$font-family-serif:      'Jost', 'Futura', sans-serif; /* Force sans-serif everywhere */

/* Boxy Borders */
$base-border-color: #000;
$base-border-radius: 0px; /* Remove rounded corners */